$highlite-yellow-text: #FFC700;
$blue-color: #0499DD;
@import 'media-styles';

* {
   box-sizing: border-box;
}

body,
a,
button {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   font-size: 14px;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
   overflow-x: hidden;
}

p {
   margin: 1em 0 0 0;
}

.align-center {
   display: flex;
   align-items: center;
}

.content-space-between {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.container {
   margin: auto;
   max-width: 1120px;

   @include _1440 {
      max-width: 900px;
   }

   @include _910 {
      max-width: 610px;
   }

   @include _630 {
      max-width: 380px;
   }
}

.container--padding-top {
   padding-top: 150px;
}

.highlite {
   color: $highlite-yellow-text;
}

.description {
   color: #000;
}

.basic-button {
   cursor: pointer;
   display: inline-block;
   text-align: center;
   font-weight: bold;
   border: 0;
   background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
   border-radius: 60px;

   &:hover,
   &:focus {
      animation: pulse 1s;
      box-shadow: 0 0 1em 10px rgba(#fff, 0);
   }

   @keyframes pulse {
      0% {
         box-shadow: 0 0 0 0 adjust-hue(#17C1BC, 0);
      }
   }
}

.container-title {
   margin-bottom: 90px;

   .view-all {
      color: #000;
      font-size: 12px;
      text-decoration: underline;
      margin-right: 0;
   }
}

.title-content {
   color: $blue-color;
   font-weight: bold;
   font-size: 24px;
}

.cards-slider {
   position: absolute;
   max-width: calc(100vw - (100vw - 1120px) / 2 - 11px);
   overflow: hidden;

   @include _1440 {
      max-width: calc(100vw - (100vw - 900px) / 2 - 8px);
   }

   @include _910 {
      max-width: calc(100vw - (100vw - 610px) / 2 - 1px);
   }

   @include _630 {
      max-width: calc(100vw - (100vw - 380px) / 2);
   }

   .cards {
      display: flex;
      transition: all ease 1s;
   }
}

.switch {
   position: absolute;
   bottom: 0;
   margin-bottom: 150px;
   width: 100%;
   gap: 50px;

   .previous {
      margin-right: 30px;
   }


   .buttons {
      display: flex;
      flex-direction: row;

      svg {
         cursor: pointer;
         fill: none !important;
         stroke-width: 2px;
         transition: stroke .3s ease;
         stroke: #0499DD;
      }

      svg.disable {
         cursor: default;
         stroke: #D4D4D4;
      }
   }

   .slider-line {
      flex-grow: 0.9;
      height: 2px;
      background-color: #D4D4D4;
      flex-grow: 4;

      .slide {
         cursor: pointer;
         background-color: $blue-color;
         width: 163px;
         height: 2px;
         transition: all ease 1s;
      }
   }
}

.card~.card {
   margin-left: 20px;
}

.invalid-input-value {
   color: tomato;
   font-family: inherit;
   padding-bottom: 5px;
   background-color: transparent;
   border-bottom: 1px solid rgb(228, 41, 8) !important;

   &:focus {
      outline: 0;
      border-color: tomato;
   }
}

.invalid-error-text {
   color: tomato;
   font-size: 12px;
}

.body-hidden {
   overflow: hidden;
}