$highlite-yellow-text: #FFC700;
$blue-color: #0499DD;
@import 'media-styles';

* {
   box-sizing: border-box;
}

body,
a,
button {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   font-size: 14px;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
}

p {
   margin: 1em 0 0 0;
}

.align-center {
   display: flex;
   align-items: center;
}

.content-space-between {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.container {
   margin: auto;
   max-width: 1120px;

   @include _1440 {
      max-width: 900px;
   }

   @include _910 {
      max-width: 610px;
   }

   @include _630 {
      max-width: 380px;
   }
}

.container--padding-top {
   padding-top: 150px;
}

.highlite {
   color: $highlite-yellow-text;
}

.description {
   color: #000;
}

.basic-button {
   cursor: pointer;
   display: inline-block;
   text-align: center;
   font-weight: bold;
   border: 0;
   background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
   border-radius: 60px;

   &:hover,
   &:focus {
      animation: pulse 1s;
      box-shadow: 0 0 1em 10px rgba(#fff, 0);
   }

   @keyframes pulse {
      0% {
         box-shadow: 0 0 0 0 adjust-hue(#17C1BC, 0);
      }
   }
}

.container-title {
   margin-bottom: 90px;

   .view-all {
      color: #000;
      font-size: 12px;
      text-decoration: underline;
      margin-right: 0;
   }
}

.title-content {
   color: $blue-color;
   font-weight: bold;
   font-size: 24px;
}

.swiper {
   position: absolute;
   width: calc(100vw - (100vw - 1120px) / 2 - 11px);
   overflow: hidden;
}

.cards-slider {
   position: absolute;
   max-width: calc(100vw - (100vw - 1120px) / 2 - 11px);
   overflow: hidden;

   @include _1440 {
      max-width: calc(100vw - (100vw - 900px) / 2 - 9px);
   }

   @include _910 {
      max-width: calc(100vw - (100vw - 610px) / 2 - 9px);
   }

   @include _630 {
      max-width: calc(100vw - (100vw - 380px) / 2 - 9px);
   }

   .cards {
      display: flex;
      transition: all ease 1s;
   }
}

.switch {
   position: absolute;
   bottom: 0;
   margin-bottom: 150px;
   gap: 50px;

   .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 43px;
      // background-color: transparent;
      // background-position: center;
      // border: 0;
      cursor: pointer;
   }

   // .previous {
   //    background-image: url(../sources/image/prev.svg);
   //    margin-right: 30px;
   // }

   .swiper-button-next,
   .swiper-button-prev {
      position: relative;
      top: 10px;
      z-index: 10;
      cursor: pointer;
      width: 24px;
      height: 43px;
   }

   .swiper-button-next::after,
   .swiper-button-prev::after {
      color: $blue-color;
   }

   .swiper-button-prev,
   .swiper-rtl .swiper-button-next {
      left: 0;
      right: auto;
   }

   .swiper-scrollbar,
   .swiper-scrollbar-exc {
      position: absolute;
      margin-left: 138px;
      flex-grow: 0.9;
      height: 2px;
      width: 982px;
      background-color: #D4D4D4;
      color: $blue-color;
   }

   .swiper-scrollbar-drag {
      background: $blue-color;

      // .slide {
      //    cursor: pointer;
      //    background-color: $blue-color;
      //    width: 163px;
      //    height: 2px;
      //    transition: all ease 1s;
      // }
   }

   @include _1440 {

      .swiper-scrollbar,
      .swiper-scrollbar-exc {
         width: calc(900px - 138px);
      }
   }

   @include _910 {

      .swiper-scrollbar,
      .swiper-scrollbar-exc {
         width: 472px;
      }
   }

   @include _630 {
      margin-bottom: 125px;

      .swiper-scrollbar,
      .swiper-scrollbar-exc {
         margin-left: 120px;
         flex-grow: 0.9;
         height: 2px;
         width: calc(380px - 120px);
      }
   }
}