$highlite-yellow-text: #FFC700;
$blue-color: #0499DD;
@import 'media-styles';

* {
   box-sizing: border-box;
}

body,
a,
button {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   font-size: 14px;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
}

p {
   margin: 1em 0 0 0;
}

.align-center {
   display: flex;
   align-items: center;
}

.content-space-between {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.container {
   margin: auto;
   max-width: 1120px;

   @include _768 {
      max-width: 610px;
   }
}

.container--padding-top {
   padding-top: 150px;
}

.highlite {
   color: $highlite-yellow-text;
}

.description {
   color: #000;
}

.basic-button {
   cursor: pointer;
   display: inline-block;
   text-align: center;
   font-weight: bold;
   border: 0;
   background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
   border-radius: 60px;
}

.container-title {
   margin-bottom: 90px;

   .view-all {
      color: #000;
      font-size: 12px;
      text-decoration: underline;
      margin-right: 0;
   }
}

.title-content {
   color: $blue-color;
   font-weight: bold;
   font-size: 24px;
}

.cards-slider {
   position: absolute;
   max-width: calc(100vw - (100vw - 1120px) / 2 - 11px);
   overflow: hidden;

   @include _768 {
      max-width: calc(100vw - (100vw - 610px) / 2 - 11px);
   }

   .cards {
      display: flex;
      transition: all ease 1s;
   }
}

.switch {
   position: absolute;
   bottom: 0;
   margin-bottom: 150px;
   gap: 50px;

   .button-arrow {
      width: 24px;
      height: 43px;
      background-color: transparent;
      background-position: center;
      border: 0;
      cursor: pointer;
   }

   .previous {
      background-image: url(../sources/image/prev.svg);
      margin-right: 30px;
   }

   .next {
      background-image: url(../sources/image/next-col.svg);
   }

   .slider-line {
      position: absolute;
      margin-left: 138px;
      flex-grow: 0.9;
      height: 2px;
      width: 982px;
      background-color: #D4D4D4;

      @include _768 {
         width: 472px;
      }

      .slide {
         cursor: pointer;
         background-color: $blue-color;
         width: 163px;
         height: 2px;
      }
   }
}