@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
a,
button {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

p {
  margin: 1em 0 0 0;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  margin: auto;
  max-width: 1120px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 910px) {
  .container {
    max-width: 610px;
  }
}

@media screen and (max-width: 630px) {
  .container {
    max-width: 380px;
  }
}

.container--padding-top {
  padding-top: 150px;
}

.highlite {
  color: #FFC700;
}

.description {
  color: #000;
}

.basic-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 0;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 60px;
}

.container-title {
  margin-bottom: 90px;
}

.container-title .view-all {
  color: #000;
  font-size: 12px;
  text-decoration: underline;
  margin-right: 0;
}

.title-content {
  color: #0499DD;
  font-weight: bold;
  font-size: 24px;
}

.cards-slider {
  position: absolute;
  max-width: calc(100vw - (100vw - 1120px) / 2 - 11px);
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .cards-slider {
    max-width: calc(100vw - (100vw - 900px) / 2 - 8px);
  }
}

@media screen and (max-width: 910px) {
  .cards-slider {
    max-width: calc(100vw - (100vw - 610px) / 2 - 8px);
  }
}

@media screen and (max-width: 630px) {
  .cards-slider {
    max-width: calc(100vw - (100vw - 380px) / 2 - 8px);
  }
}

.cards-slider .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.switch {
  position: absolute;
  bottom: 0;
  margin-bottom: 150px;
  gap: 50px;
}

.switch .button-arrow {
  width: 24px;
  height: 43px;
  background-color: transparent;
  background-position: center;
  border: 0;
  cursor: pointer;
}

.switch .previous {
  background-image: url(../sources/image/prev.svg);
  margin-right: 30px;
}

.switch .next {
  background-image: url(../sources/image/next-col.svg);
}

.switch .slider-line {
  position: absolute;
  margin-left: 138px;
  -webkit-box-flex: 0.9;
      -ms-flex-positive: 0.9;
          flex-grow: 0.9;
  height: 2px;
  width: 982px;
  background-color: #D4D4D4;
}

.switch .slider-line .slide {
  cursor: pointer;
  background-color: #0499DD;
  width: 163px;
  height: 2px;
}

@media screen and (max-width: 1440px) {
  .switch .slider-line {
    width: calc(900px - 138px);
  }
}

@media screen and (max-width: 910px) {
  .switch .slider-line {
    width: 472px;
  }
}

@media screen and (max-width: 630px) {
  .switch {
    margin-bottom: 125px;
  }
  .switch .slider-line {
    margin-left: 120px;
    -webkit-box-flex: 0.9;
        -ms-flex-positive: 0.9;
            flex-grow: 0.9;
    height: 2px;
    width: calc(380px - 120px);
  }
}

/*unique styles*/
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-video .video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.background-video .size {
  width: 100vw;
  max-width: 100%;
  height: 789px;
}

@media screen and (max-width: 910px) {
  .background-video .size {
    height: 1024px;
  }
}

@media screen and (max-width: 630px) {
  .background-video .size {
    height: 928px;
  }
}

.shade {
  background-color: #00000035;
  position: absolute;
}

.header {
  position: relative;
  height: 109px;
}

.header .nav-link:hover {
  color: #ffc700;
}

.header .nav-link ~ .nav-link {
  margin-left: 20px;
}

.header .btn,
.header .open-menu {
  display: none;
}

.header .open-menu {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (max-width: 910px) {
  .header .header__navigation-panel {
    display: none;
  }
  .header .btn {
    position: absolute;
    right: 0;
    z-index: 4;
    display: block;
    width: 50px;
    cursor: pointer;
  }
  .header .btn span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 4px;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
  }
  .header .btn span + span {
    margin-top: 14px;
  }
  .header .btn:hover span {
    background: #ffc700;
  }
  .header .active.btn {
    position: fixed;
  }
  .header .active span:nth-child(1) {
    -webkit-animation: ease .7s top forwards;
            animation: ease .7s top forwards;
  }
  .header .not-active span:nth-child(1) {
    -webkit-animation: ease .7s top-2 forwards;
            animation: ease .7s top-2 forwards;
  }
  .header .active span:nth-child(2) {
    -webkit-animation: ease .7s scaled forwards;
            animation: ease .7s scaled forwards;
  }
  .header .not-active span:nth-child(2) {
    -webkit-animation: ease .7s scaled-2 forwards;
            animation: ease .7s scaled-2 forwards;
  }
  .header .active span:nth-child(3) {
    -webkit-animation: ease .7s bottom forwards;
            animation: ease .7s bottom forwards;
  }
  .header .not-active span:nth-child(3) {
    -webkit-animation: ease .7s bottom-2 forwards;
            animation: ease .7s bottom-2 forwards;
  }
  @-webkit-keyframes top {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      top: 18px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      top: 18px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @keyframes top {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      top: 18px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      top: 18px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @-webkit-keyframes top-2 {
    0% {
      top: 18px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    50% {
      top: 18px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      top: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes top-2 {
    0% {
      top: 18px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    50% {
      top: 18px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      top: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes bottom {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      bottom: 19px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 19px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  @keyframes bottom {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      bottom: 19px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 19px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  @-webkit-keyframes bottom-2 {
    0% {
      bottom: 19px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    50% {
      bottom: 19px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes bottom-2 {
    0% {
      bottom: 19px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    50% {
      bottom: 19px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @-webkit-keyframes scaled {
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @keyframes scaled {
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @-webkit-keyframes scaled-2 {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scaled-2 {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .header .open-menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
    z-index: 3;
    -webkit-transition: all ease 500ms;
    transition: all ease 500ms;
  }
  .header .open-menu .cross-stand-alone {
    cursor: pointer;
    top: 30px;
    right: 30px;
    background: none;
    position: absolute;
    width: 60px;
    height: 60px;
  }
  .header .open-menu .cross-stand-alone:before, .header .open-menu .cross-stand-alone:after {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    height: 5px;
    background: #fff;
    border-radius: 2px;
  }
  .header .open-menu .cross-stand-alone:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .open-menu .cross-stand-alone:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .open-menu .cross-stand-alone span {
    display: block;
  }
  .header .open-menu .cross-stand-alone:hover:before, .header .open-menu .cross-stand-alone:hover:after {
    background: #ffc700;
  }
  .header .open-menu .open-menu__navigation-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em;
  }
  .header .open-menu .open-menu__navigation-panel a {
    font-size: 28px;
  }
  .header .open-menu .open-menu__navigation-panel a:hover {
    color: #ffc700;
  }
}

.section-width {
  position: relative;
  height: 793px;
  padding-top: 128px;
}

.section-width .basic-button {
  width: 230px;
  height: 50px;
  line-height: 50px;
}

.section-width .text {
  position: relative;
  width: 723px;
  margin-bottom: 60px;
}

.section-width .fill-text {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-width .line-text {
  margin-top: -11px;
  background-image: url(../sources/image/PEROTRAVEL.png);
  background-repeat: no-repeat;
  height: 110px;
}

.section-width .color-text {
  position: absolute;
  background-image: url(../sources/image/вместе_с.png);
  background-repeat: no-repeat;
  height: 64px;
  width: 151px;
  top: 63px;
  right: 36px;
}

.section-width .social-media {
  position: absolute;
  top: 224px;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-width .social-media .social-media__icon {
  width: 30px;
}

.section-width .cover-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  left: 59.5%;
  max-width: calc((100vw - 1120px) / 2 + (1120px - 59.5%) - 8px);
  bottom: 0;
  overflow: hidden;
}

.section-width .videos-gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  bottom: 0;
  height: 227px;
}

.section-width .videos-gallery .video-cover {
  height: inherit;
  width: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.section-width .videos-gallery .play-button {
  position: absolute;
  left: calc(360px / 2 - 33px);
  top: calc(227px / 2 - 33px);
  z-index: 2;
  width: 66px;
  height: 66px;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .section-width .cover-container {
    max-width: calc((100vw - 900px) / 2 + (900px - 59.5%) - 8px);
  }
}

@media screen and (max-width: 910px) {
  .section-width {
    height: 1006px;
    padding-top: 210px;
  }
  .section-width .text {
    max-width: 581px;
    margin-bottom: 90px;
  }
  .section-width .fill-text {
    font-size: 48px;
  }
  .section-width .line-text {
    margin-top: 12px;
    background-image: url(../sources/image/PEROTRAVEL_small.png);
    height: 172px;
  }
  .section-width .color-text {
    background-image: url(../sources/image/вместе_с_small.png);
    height: 48px;
    width: 114px;
    top: 46px;
    right: 121px;
  }
  .section-width .cover-container {
    max-width: calc((100vw - 610px) / 2 + (610px - 59.5%) - 8px);
  }
  .section-width .videos-gallery {
    height: 187px;
  }
  .section-width .videos-gallery .video-cover {
    width: 295px;
  }
  .section-width .videos-gallery .play-button {
    left: calc(295px / 2 - 33px);
    top: calc(187px / 2 - 33px);
  }
}

@media screen and (max-width: 630px) {
  .section-width {
    height: 910px;
    padding-top: 92px;
  }
  .section-width .text {
    max-width: 348px;
    margin-bottom: 90px;
  }
  .section-width .fill-text {
    font-size: 36px;
  }
  .section-width .line-text {
    margin-top: 12px;
    background-image: url(../sources/image/PEROTRAVEL_very_small.png);
    height: 130px;
  }
  .section-width .color-text {
    top: 31px;
    right: 14px;
  }
  .section-width .social-media {
    top: 508px;
  }
  .section-width .cover-container {
    left: 0;
    max-width: calc(380px + ((100vw - 380px) / 2) - 8px);
  }
  .section-width .videos-gallery {
    height: 187px;
  }
  .section-width .videos-gallery .video-cover {
    width: 295px;
  }
  .section-width .videos-gallery .play-button {
    left: calc(295px / 2 - 33px);
    top: calc(187px / 2 - 33px);
  }
}

.excursions {
  position: relative;
  height: 999px;
}

.excursions .exc-card {
  position: relative;
  width: 360px;
  height: 497px;
  font-size: 12px;
  margin-right: 20px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.excursions .exc-card .exc-card__background {
  position: relative;
  border-radius: 10px;
  width: inherit;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.excursions .exc-card .exc-card__background > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -o-object-position: 0 -2px;
     object-position: 0 -2px;
}

.excursions .exc-card .exc-card__background .shade-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1217)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0.1217), black);
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.excursions .exc-card .desc {
  position: absolute;
  top: 211px;
  left: 5%;
  right: 5%;
}

.excursions .exc-card .desc .exc-name {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 19px;
  color: #ffc700;
}

.excursions .exc-card .desc .desc-numbers {
  margin-bottom: 20px;
  height: 15px;
}

.excursions .exc-card .desc .desc-numbers .desc-number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 13px;
}

.excursions .exc-card .desc .desc-numbers .desc-number > img {
  margin-right: 4px;
}

.excursions .exc-card .desc > p {
  height: 125px;
}

.excursions .exc-card .desc > a {
  width: 160px;
  height: 40px;
  line-height: 40px;
}

@media screen and (max-width: 1440px) {
  .excursions .exc-card {
    width: 286px;
    height: 490px;
  }
  .excursions .exc-card .desc {
    top: 185px;
  }
  .excursions .exc-card .desc > p {
    height: 156px;
  }
}

@media screen and (max-width: 910px) {
  .excursions .exc-card {
    width: 295px;
    height: 490px;
  }
  .excursions .exc-card .desc {
    top: 174px;
  }
  .excursions .exc-card .desc > p {
    height: 166px;
    margin-bottom: 0;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 630px) {
  .excursions {
    height: 1050px;
  }
  .excursions .title-content {
    max-width: 250px;
  }
  .excursions .exc-card {
    width: 280px;
    height: 540px;
  }
  .excursions .exc-card .desc > p {
    height: 209px;
  }
}

.about-us {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  height: 749px;
}

.about-us .description-card {
  width: 459px;
  height: 479px;
  background: #ededed;
  border-radius: 10px;
  padding: 0 68px;
  padding-top: 61px;
}

.about-us .bacground-image {
  position: absolute;
  top: 0;
  right: 176px;
  z-index: -1;
}

.about-us .about {
  margin-top: 40px;
}

@media screen and (max-width: 910px) {
  .about-us {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-us .about {
    margin-top: 26px;
  }
  .about-us .description-card {
    width: 493px;
    height: 433px;
  }
}

@media screen and (max-width: 630px) {
  .about-us {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us .about {
    margin-top: 26px;
  }
  .about-us .description-card {
    font-size: 13px;
    width: inherit;
    height: 386px;
    padding: 43px 43px 0 43px;
  }
  .about-us .description-card p {
    margin: 0;
  }
}

.exc-types > p {
  margin: 60px auto 20px auto;
  width: 550px;
  height: 34px;
  line-height: 17px;
  text-align: center;
}

.exc-types .pos-center {
  margin: auto;
  display: block;
}

.exc-types a {
  width: 230px;
  height: 50px;
  line-height: 50px;
}

.exc-types .types-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 40px 20px;
  margin-top: 90px;
}

.exc-types .types-grid .grid-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exc-types .types-grid .grid-card .img-exc-type {
  margin-right: 20px;
  width: 75px;
  height: 75px;
}

.exc-types .types-grid .grid-card span {
  font-weight: bold;
  font-size: 18px;
  color: #0499dd;
  line-height: 22px;
}

@media screen and (max-width: 910px) {
  .exc-types .types-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 630px) {
  .exc-types > p {
    font-size: 13px;
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.container .gallery {
  -webkit-transform: translateX(-9.5%);
          transform: translateX(-9.5%);
  display: -ms-grid;
  display: grid;
  width: 1410px;
  height: 567px;
  -ms-grid-columns: 216px 267px 362px 267px 216px;
      grid-template-columns: 216px 267px 362px 267px 216px;
  -ms-grid-rows: 280px 123px 123px;
      grid-template-rows: 280px 123px 123px;
  grid-gap: 20px;
}

.container .gallery .bg-pos {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .gallery .gallery-img-1 {
  background-image: url(../sources/image/gallery/g-elem-1.png);
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.container .gallery .gallery-img-2 {
  background-image: url(../sources/image/gallery/g-elem-2.png);
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 3;
  grid-column: 3;
}

.container .gallery .gallery-img-3 {
  background-image: url(../sources/image/gallery/g-elem-3.png);
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
}

.container .gallery .gallery-img-4 {
  background-image: url(../sources/image/gallery/g-elem-4.png);
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  grid-column: 5;
}

.container .gallery .gallery-img-5 {
  background-image: url(../sources/image/gallery/g-elem-5.png);
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  grid-column: 1;
}

.container .gallery .gallery-img-6 {
  background-image: url(../sources/image/gallery/g-elem-6.png);
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.container .gallery .gallery-img-7 {
  background-image: url(../sources/image/gallery/g-elem-7.png);
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.container .gallery .gallery-img-8 {
  background-image: url(../sources/image/gallery/g-elem-8.png);
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

@media screen and (max-width: 1440px) {
  .container .gallery {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -ms-grid-columns: 216px 267px auto;
        grid-template-columns: 216px 267px auto;
    -ms-grid-rows: 280px 123px 123px;
        grid-template-rows: 280px 123px 123px;
    width: inherit;
    height: 567px;
  }
  .container .gallery .gallery-img-3,
  .container .gallery .gallery-img-4,
  .container .gallery .gallery-img-8 {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .container .gallery {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: inherit;
    height: 567px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .container .gallery .gallery-img-1,
  .container .gallery .gallery-img-5,
  .container .gallery .gallery-img-6,
  .container .gallery .gallery-img-7 {
    display: none;
  }
  .container .gallery .gallery-img-2 {
    height: inherit;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .container .gallery .gallery-img-3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .container .gallery .gallery-img-4 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .container .gallery .gallery-img-8 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

@media screen and (max-width: 630px) {
  .container .gallery {
    height: auto;
    -ms-grid-columns: (180px)[2];
        grid-template-columns: repeat(2, 180px);
    -ms-grid-rows: 186px 194px 260px;
        grid-template-rows: 186px 194px 260px;
  }
  .container .gallery .gallery-img-2 {
    height: 400px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .container .gallery .gallery-img-3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .container .gallery .gallery-img-4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .container .gallery .gallery-img-8 {
    height: auto;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.reviews {
  position: relative;
  height: 824px;
}

.reviews .review-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 38px 45px;
  width: 740px;
  height: 322px;
  background-color: #ededed;
  border-radius: 10px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  margin-right: 20px;
  background-image: url(../sources/image/review/”.svg);
  background-repeat: no-repeat;
  background-position: 525px 150px;
}

.reviews .review-card p {
  width: 395px;
}

.reviews .review-card > img {
  width: 245px;
  margin-right: 28px;
}

.reviews .review-card .review-autor {
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (max-width: 910px) {
  .reviews {
    height: 755px;
  }
  .reviews .review-card {
    width: 505px;
    height: 246px;
    padding: 25px;
  }
  .reviews .review-card > img {
    width: 168px;
    height: 168px;
    margin-right: 25px;
  }
  .reviews .review-card p {
    width: 269px;
    font-size: 12px;
  }
}

@media screen and (max-width: 630px) {
  .reviews {
    height: 920px;
  }
  .reviews .review-card {
    width: 280px;
    height: 447px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews .review-card img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .reviews .review-card p {
    width: 228px;
    font-size: 13px;
  }
}

.bg-img {
  position: absolute;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 640px;
}

.bg-img .shade {
  width: 100vw;
  max-width: 100%;
  height: inherit;
}

.bg-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 96%;
     object-position: 0 96%;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 910px) {
  .bg-img {
    height: 640px;
  }
}

@media screen and (max-width: 630px) {
  .bg-img {
    height: 928px;
  }
  .bg-img img {
    -o-object-position: center;
       object-position: center;
  }
}

.form-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 640px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-container .contact-data {
  height: 640px;
  width: 560px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding-left: 105px;
  padding-top: 132px;
}

.form-container .contact-data .question {
  font-weight: bold;
  font-size: 24px;
}

.form-container .contact-data .yellow-text {
  display: block;
  color: #ffc700;
  margin-top: 6px;
  margin-bottom: 38px;
}

.form-container .contact-data input {
  width: 360px;
  border: 0;
  color: #fff;
  font-family: inherit;
  padding-bottom: 5px;
  background-color: transparent;
  border-bottom: 1px solid #ffffffbe;
}

.form-container .contact-data input::-webkit-input-placeholder {
  color: #ffffffbe;
  font-size: 14px;
}

.form-container .contact-data input:-ms-input-placeholder {
  color: #ffffffbe;
  font-size: 14px;
}

.form-container .contact-data input::-ms-input-placeholder {
  color: #ffffffbe;
  font-size: 14px;
}

.form-container .contact-data input::placeholder {
  color: #ffffffbe;
  font-size: 14px;
}

.form-container .contact-data input:focus {
  outline: 0;
  border-color: #fff;
}

.form-container .contact-data .number {
  margin: 38px 0;
}

.form-container .contact-data .number::-webkit-inner-spin-button,
.form-container .contact-data .number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form-container .contact-data button {
  width: 250px;
  height: 50px;
  margin-top: 83px;
}

@media screen and (max-width: 910px) {
  .form-container .contact-data {
    width: 400px;
    height: 640px;
    right: 0;
    padding-left: 43px;
  }
  .form-container .contact-data input {
    width: 316px;
  }
}

@media screen and (max-width: 630px) {
  .form-container {
    height: 928px;
  }
  .form-container .contact-data {
    margin-top: 25px;
  }
}

footer {
  background-color: #ededed;
}

footer .grid-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  -ms-flex-line-pack: center;
      align-content: center;
  height: 173px;
}

footer .grid-footer nav {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer .grid-footer .logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 80px;
  height: 114px;
}

footer .grid-footer .direction-column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .grid-footer .direction-column .margin-top-bottom {
  margin: 10px 0;
}

footer .phone-nums {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 3;
  grid-column: 3;
}

footer .mail {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

footer span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

footer span .icon-img {
  margin-right: 12px;
}

footer .color-social-media {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 4;
  grid-column: 4;
}

footer .social-media__icon {
  margin-right: 6px;
}

@media screen and (max-width: 910px) {
  footer .grid-footer .logo {
    width: 65px;
    height: 93px;
  }
  footer .grid-footer .description {
    font-size: 12px;
  }
  footer .grid-footer .edge-elem {
    gap: 32px;
    font-size: 12px;
  }
}

@media screen and (max-width: 630px) {
  footer .grid-footer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 130px 40px 60px 80px 20px;
        grid-template-rows: 130px 40px 60px 80px 20px;
    height: 412px;
  }
  footer .grid-footer .logo {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 80px;
    height: 114px;
  }
  footer .grid-footer nav {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  footer .grid-footer .phone-nums {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  footer .grid-footer .mail {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  footer .grid-footer .color-social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
/*# sourceMappingURL=style.css.map */