@import 'common-style';
$padding-top: 150px;

$txt-upper: uppercase;
$blue-color: #0499DD;
$highlite-yellow-text: #FFC700;

%font-bold {
   font-weight: bold;
}

/*unique styles*/
.background-video {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;

   .video {
      object-fit: cover;
      object-position: center;
   }

   .size {
      width: 100vw;
      max-width: 100%;
      height: 789px;
   }
}

.shade {
   box-shadow: inset 100em 100em #00000035;
   position: absolute;
}

.section-width {
   position: relative;
   height: 793px;
   padding-top: 128px;

   >a {
      width: 230px;
      height: 50px;
      line-height: 50px;
   }

   .text {
      position: relative;
      display: block;
      width: 723px;
      height: 194px;
      margin-bottom: 60px;
   }

   .fill-text {
      font-size: 72px;
      @extend %font-bold;
      text-transform: $txt-upper;
   }

   .line-text {
      margin-top: -11px;
   }

   .color-text {
      position: absolute;
      top: 63px;
      right: 32px;
   }

   .social-media {
      position: absolute;
      top: 224px;
      display: flex;
      right: 0;
      flex-direction: column;
      height: 110px;
      justify-content: space-around;

      .social-media__icon {
         width: 30px;
         margin: 0 auto;
      }

      .bigger-icon {
         width: 32px;
      }
   }

   .videos-gallery {
      position: absolute;
      bottom: 0;
      left: 59.5%;
      display: flex;
      flex-direction: row;
      height: 227px;
      overflow: hidden;

      .slider {
         position: relative;
         width: 100vw;
      }

      .video-cover {
         position: absolute;
         top: 0;
         left: 0;
         height: 227px;
         width: 360px;
         border-radius: 10px;
         transition: all ease 1s;
      }

      .play {
         background-color: transparent;
         border: 0;
         cursor: pointer;

         .play-button {
            position: absolute;
            left: 147px;
            top: 81px;
            z-index: 2;
         }
      }

   }
}

.excursions {
   position: relative;
   height: 999px;
   padding: 150px 0;

   .exc-card {
      position: relative;
      width: 360px;
      height: 497px;
      font-size: 12px;
      margin-right: 20px;
      transition: all ease 1s;

      .desc {
         position: absolute;
         top: 211px;
         left: 16px;
         right: 16px;

         .exc-name {
            @extend %font-bold;
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 19px;
            color: $highlite-yellow-text;
         }

         .desc-numbers {
            margin-bottom: 20px;
            height: 15px;

            .desc-number {
               display: inline-flex;
               margin-right: 13px;

               >img {
                  margin-right: 4px;
               }
            }
         }

         >p {
            height: 125px;
         }

         >a {
            width: 160px;
            height: 40px;
            line-height: 40px;
         }
      }
   }
}

.about-us {
   justify-content: flex-end;
   position: relative;
   height: 749px;

   .description-card {
      width: 459px;
      height: 479px;
      background: #EDEDED;
      border-radius: 10px;
      padding: 0 68px;
      padding-top: 61px;
   }

   .bacground-image {
      position: absolute;
      top: 0;
      right: 176px;
      z-index: -1;
   }

   .about {
      margin-top: 40px;
   }
}

.exc-types {
   padding-top: $padding-top;

   &>p {
      margin: 60px auto 20px auto;
      width: 550px;
      height: 34px;
      text-align: center;
   }

   .pos-center {
      margin: auto;
      display: block;
   }

   a {
      width: 230px;
      height: 50px;
      line-height: 50px;
   }
}

.gallery-container {
   padding-top: $padding-top;
   position: relative;
   height: 837px;
}

.gallery {
   position: absolute;
   top: 270px;
   left: 50%;
   transform: translateX(-50%);
   display: grid;
   width: 1410px;
   height: 567;
   grid-template-columns: repeat(5, auto);
   grid-template-rows: repeat(3, auto);
   grid-gap: 20px;

   .img-hover:hover {
      box-shadow: 0 0 0 5 $highlite-yellow-text;
   }

   .gallery-img-1 {
      grid-row: 1;
      grid-column: 1/3
   }

   .gallery-img-2 {
      grid-row: 1/4;
      grid-column: 3;
   }

   .gallery-img-3 {
      grid-row: 1;
      grid-column: 4;
   }

   .gallery-img-4 {
      grid-row: 1;
      grid-column: 5;
   }

   .gallery-img-5 {
      grid-row: 2/4;
      grid-column: 1;
   }

   .gallery-img-6 {
      grid-row: 2;
      grid-column: 2;
   }

   .gallery-img-7 {
      grid-row: 3;
      grid-column: 2;
   }

   .gallery-img-8 {
      grid-row: 2/4;
      grid-column: 4/6;
   }
}

.reviews {
   position: relative;
   padding-top: $padding-top;
   height: 824px;

   .review-card {
      position: relative;
      display: flex;
      padding: 38px 45px;
      width: 740px;
      height: 322px;
      background-color: #EDEDED;
      border-radius: 10px;
      transition: all ease 1s;
      margin-right: 20px;
      background-image: url(/sources/image/review/â€.svg);
      background-repeat: no-repeat;
      background-position: 525px 150px;

      & p {
         width: 395px;
      }

      >img {
         width: 245px;
         height: 245px;
         margin-right: 28px;
      }

      .review-autor {
         @extend %font-bold;
         margin-bottom: 20px;
      }
   }
}

.bg-img {
   position: absolute;
   left: 0;
   width: 100vw;
   max-width: 100%;
   height: 640px;

   .shade {
      width: 100vw;
      max-width: 100%;
      height: 640px;
   }


   img {
      object-fit: cover;
      object-position: 0 96%;
      width: 100%;
      height: 100%;
   }

}

.form-container {
   position: relative;
   display: flex;
   height: 640px;
   justify-content: flex-end;

   .contact-data {
      position: absolute;
      right: -170px;
      height: 640px;
      width: 746px;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(20px);
      padding-left: 140px;
      padding-top: 132px;

      .question {
         font-weight: bold;
         font-size: 24px;
      }

      .yellow-text {
         display: block;
         color: $highlite-yellow-text;
         margin-top: 6px;
         margin-bottom: 38px;
      }

      input {
         width: 480px;
         border: 0;
         color: #fff;
         font-family: inherit;
         padding-bottom: 5px;
         background-color: transparent;
         border-bottom: 1px solid #FFFFFFbe;

         &::placeholder {
            color: #ffffffbe;
            font-size: 14px;
         }

         &:focus {
            outline: 0;
            border-color: #fff;
         }
      }

      .number {
         margin: 38px 0;
      }

      .number::-webkit-inner-spin-button,
      .number::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      button {
         width: 250px;
         height: 50px;
         margin-top: 83px;
      }
   }

}

footer {
   background-color: #EDEDED;

   .flex-row {
      flex-direction: row;
      justify-content: space-between;
      height: 173px;

      .edge-elem {
         display: flex;
         align-items: center;
         gap: 110px;
      }

      .direction-column {
         display: inline-flex;
         flex-direction: column;

         >a {
            margin-bottom: 8px;
         }
      }
   }

   span {
      display: inline-flex;
      margin-top: 0;
      margin-bottom: 8px;

      >img {
         margin-right: 9px;
      }
   }

   .color-social-media {

      >a {
         margin-right: 6px;
      }
   }

   .mail {
      margin-bottom: 15px;
   }
}